#MainWidget {
  background-color: #bdbdbd;
}

#InputDefault {
  background-color: #f8f8f8;
  border: 1px solid #6c757d;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
  max-height: 25px;
  min-height: 25px;
}

#InputDefault:focus {
  border: 1px outset #25b4ee;
}

#InputOk {
  border: 1px solid #2ad66b;
  background-color: #f8f8f8;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
  max-height: 25px;
  min-height: 25px;
}

#InputWarn {
  border: 1px solid #ffc107;
  background-color: #f8f8f8;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
  max-height: 25px;
  min-height: 25px;
}

#InputError {
  border: 1px solid #ef3e4f;
  background-color: #f8f8f8;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
  max-height: 25px;
  min-height: 25px;
}

#Browse {
  background-color: #f8f8f8;
  border: 1px solid #6c757d;
  color: #212529;
  border-radius: 3px;
  font-family: "Webdings";
  font: 15px;
  max-width: 25px;
  min-width: 25px;
  max-height: 25px;
  min-height: 25px;
}

#BlueButton {
  background-color: #0d6efd;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
  font-weight: bold;
  max-height: 25px;
  min-height: 25px;
  min-width: 80px;
}

#GreenButton {
  background-color: #2ad66b;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
  font-weight: bold;
  max-height: 25px;
  min-height: 25px;
  min-width: 80px;
}

#YellowButton {
  background-color: #ffc107;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
  font-weight: bold;
  max-height: 25px;
  min-height: 25px;
  min-width: 80px;
}

#RedButton {
  background-color: #ef3e4f;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
  font-weight: bold;
  max-height: 25px;
  min-height: 25px;
  min-width: 80px;
}

#GreyButton {
  background-color: #6c757d;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
  font-weight: bold;
  max-height: 25px;
  min-height: 25px;
  min-width: 80px;
}

#Check {
  background-color: #f8f8f8;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
  max-height: 25px;
  min-height: 25px;
}

#CompleterPopup {
  border: 1px outset #25b4ee;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
}

#StatusBigDisabled {
  background-color: #6c757d;
  color: #212529;
  border-radius: 5px;
  font-family: "Segoe UI";
  font: 15px;
  font-weight: bold;
  max-height: 25px;
  min-height: 25px;
  width: 600px;
}

#StatusBigEnabled {
  background-color: #0d6efd;
  color: #f8f8f8;
  border-radius: 5px;
  font-family: "Segoe UI";
  font: 15px;
  font-weight: bold;
  max-height: 25px;
  min-height: 25px;
  width: 600px;
}

#StatusSmallOffline {
  background-color: #ef3e4f;
  color: #212529;
  border-radius: 5px;
  font-family: "Segoe UI";
  font: 15px;
  font-weight: bold;
  max-height: 25px;
  min-height: 25px;
  width: 70px;
}

#StatusSmallIdle {
  background-color: #ffc107;
  color: #212529;
  border-radius: 5px;
  font-family: "Segoe UI";
  font: 15px;
  font-weight: bold;
  max-height: 25px;
  min-height: 25px;
  width: 70px;
}

#StatusSmallRunning,
#StatusSmallOnline {
  background-color: #2ad66b;
  color: #212529;
  border-radius: 5px;
  font-family: "Segoe UI";
  font: 15px;
  font-weight: bold;
  max-height: 25px;
  min-height: 25px;
  width: 70px;
}

#Combo100 {
  background-color: #f8f8f8;
  border: 1px solid #6c757d;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
  max-height: 25px;
  min-height: 25px;
  width: 100px;
}

#Combo150 {
  background-color: #f8f8f8;
  border: 1px solid #6c757d;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
  max-height: 25px;
  min-height: 25px;
  width: 150px;
}

#Combo200 {
  background-color: #f8f8f8;
  border: 1px solid #6c757d;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
  max-height: 25px;
  min-height: 25px;
  width: 200px;
}

#LineEdit50 {
  background-color: #f8f8f8;
  border: 1px solid #6c757d;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
  max-height: 25px;
  min-height: 25px;
  width: 50px;
}

#LineEdit100 {
  background-color: #f8f8f8;
  border: 1px solid #6c757d;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
  max-height: 25px;
  min-height: 25px;
  width: 100px;
}

#LineEdit150 {
  background-color: #f8f8f8;
  border: 1px solid #6c757d;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
  max-height: 25px;
  min-height: 25px;
  width: 150px;
}

#LineEdit200 {
  background-color: #f8f8f8;
  border: 1px solid #6c757d;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
  max-height: 25px;
  min-height: 25px;
  width: 200px;
}

#LineEdit400 {
  background-color: #f8f8f8;
  border: 1px solid #6c757d;
  color: #212529;
  border-radius: 3px;
  font-family: "Segoe UI";
  font: 15px;
  max-height: 25px;
  min-height: 25px;
  width: 400px;
}

#LineEdit50:focus,
#LineEdit100:focus,
#LineEdit150:focus,
#LineEdit200:focus,
#LineEdit400:focus {
  border: 1px outset #25b4ee;
}

#Label70 {
  background-color: transparent;
  color: #212529;
  font-family: "Segoe UI";
  font: 15px;
  font-weight: bold;
  max-height: 25px;
  min-height: 25px;
  min-width: 70px;
}

#Label100 {
  background-color: transparent;
  color: #212529;
  font-family: "Segoe UI";
  font: 15px;
  font-weight: bold;
  max-height: 25px;
  min-height: 25px;
  min-width: 100px;
}

#Label150 {
  background-color: transparent;
  color: #212529;
  font-family: "Segoe UI";
  font: 15px;
  font-weight: bold;
  max-height: 25px;
  min-height: 25px;
  min-width: 150px;
}
